<h1> {{title}}</h1>

<div class="">
    <p>
      <!-- <a routerLink="/demo-pipe" routerLinkActive="active">Demo Pipe Example</a> | -->

      <!--
        <a routerLink="/about" routerLinkActive="active">About Us</a> |
        <a routerLink="/services" routerLinkActive="active">Services</a> |
        <a routerLink="/products" routerLinkActive="active">Products</a>
        
        <!--
        
        <a routerLink="/first-test" routerLinkActive="active">First Test</a> | 
        <a routerLink="/learning-component" routerLinkActive="active">Learning Components</a> |
        <a routerLink="/test-app" routerLinkActive="active">Test App</a> |
        <a routerLink="/data-binding" routerLinkActive="active">Data Binding</a> |
        <a routerLink="/test-di" routerLinkActive="active">Test DI</a> |
       
          <a routerLink="/providers-example" routerLinkActive="active">Providers Example</a> |
          -->
    
           <a routerLink="/learn-animation" routerLinkActive="active">Learn Animations</a>
    </p>
     <!-- Logged in as : {{ username }} -->
    <div class="app-data">
      <router-outlet></router-outlet>

    </div>    

   
</div>

