<h1> {{title}}</h1>

<div class="">
  <p>
  <a routerLink="/my-template" routerLinkActive="active">My Template</a> 
  <a routerLink="/template-syntax" routerLinkActive="active">Template Syntax</a> 
  <a routerLink="/data-binding" routerLinkActive="active">Data Binding</a> 
  <a routerLink="/one-way-binding" routerLinkActive="active">One Way Data Binding</a> 
  <a routerLink="/two-way-binding" routerLinkActive="active">Two Way Data Binding</a> 

  <div class="app-data">
    <router-outlet></router-outlet>
  </div>    
</div>

