.animateElement{background:red;height:100px;width:100px;}
.menu {
        background: #FFB300;
        color: #fff;
        position: fixed;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20%;
        min-width: 250px;
        z-index: 9999;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
       
      ul {
        font-size: 18px;
        line-height: 3;
        font-weight: 400;
        padding-top: 50px;
        list-style: none;
      }
      
      .menuIcon:hover {
        cursor: pointer;
      }

     